<form action="/add" method="POST">
    <p><input type="text" name="titulo"> Titulo</p>
    <p><textarea name="conteudo" id="" cols="30" rows="10"></textarea> Conteudo</p>
    <p><button type="submit">Enviar</button></p>
</form>